**.idea/
**/__pycache__/
**.mp3
**.DS_Store
nolara/configuration/usr_config.json
nolara/lib/system_prompts/_*.txt

# Packaging
dist/
nolara.egg-info/

# Tools/Userdata
nolara/configuration/micros_tool_inputs/device_conn_cache.json
nolara/configuration/micros_tools_devices.json
